<h1><%= @birdwatcher.name %>'s Page</h1>
<% if current_user == @birdwatcher %>
    <h3>Your Sightings</h3>
<% else %>
    <h3><%= @birdwatcher.name %>'s Sightings</h3>
<% end %>
<ul>
    <% @birdwatcher.sightings.each do |sighting| %>
        <li><%= link_to sighting.bird.common_name, birdwatcher_sighting_path(@birdwatcher, sighting) %></li>
    <% end %>
</ul>
<% if @birdwatcher.ornithologist %>
    <p>Ornithologists Only</p>
    <%= link_to 'Create New Bird', new_bird_path %>
<% end %>
<br>
<%= link_to 'Create New Sighting', new_birdwatcher_sighting_path(@birdwatcher)%>
<br>
<%= link_to 'Home Page', root_path %>
<br>
<div class="notice"><%= flash[:notice] %></div>
<%= link_to 'Edit Your Profile', edit_birdwatcher_path(@birdwatcher) %>
<br>
<%= link_to 'Log Out', logout_path, method: :delete %>