<% if @birdwatcher.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @birdwatcher.errors.full_messages.each do |message| %>
        <% unless message.downcase.include?("age") %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @birdwatcher, url: login_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Log In"%>
<% end %>