
<% if flash[:login_error] %>
  <div><%= flash[:login_error] %> <%= link_to "Create a New Birdwatcher", new_birdwatcher_path %></div>
<% end %>
<br>

<%= form_for @birdwatcher, url: login_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Log In"%>
<% end %>