<% if @birdwatcher.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @birdwatcher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag login_path do %>
    <div class="field<%= ' field_with_errors' if @birdwatcher.errors[:name].any? %>">
        <label>Name</label>
        <%= text_field_tag :name, @birdwatcher.name %>
    </div>
    
    <div class="field<%= ' field_with_errors' if @birdwatcher.errors[:password].any? %>">
        <label>Password</label>
        <%= password_field_tag :password %>
    </div>

    <%= submit_tag "Log In"%>
<% end %>