<% if @birdwatcher.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @birdwatcher.errors.full_messages.each do |message| %>
        <% unless message.downcase.include?("age") %>
          <li>ERROR: <%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %> <%= link_to "Create a New Birdwatcher", new_birdwatcher_path %></div>
<% end %>
<br>

<%= form_for @birdwatcher, url: login_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Log In"%>
<% end %>