<h1>Welcome to Follow the Birdie!</h1>
<% if !logged_in?%>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <p><%= link_to "Sign Up", new_birdwatcher_path %></p>
  <p><%= link_to "Login", login_path %></p>
  <p><%= link_to "Login with GitHub", '/auth/github' %></p>
<% else %>
  <p><%= link_to "Sightings Index", sightings_path %></p>
  <p><%= link_to "Birdwatchers Index", birdwatchers_path %></p>
  <p><%= link_to "Your Page", birdwatcher_path(current_user) %></p>
<% end %>

