<h1>All the Birds on FtB</h1>

<ul>
    <% @birds.each do |bird| %>
        <li><%= link_to bird.common_name, bird_path(bird) %></li>
    <% end %>
</ul>

<% if current_user.ornithologist %>
    <p><%= link_to "Create New Bird", new_bird_path %></p>
<% end %>

<%= form_tag birds_path, method: :get do %>
    <%= label_tag("Search for a bird")%>
    <%= text_field_tag(:search) %>
    <br>
    <%= submit_tag("Search")%>
<% end %>
<br>